$size1: 13px;
$size2: 18px;
$size3: 22px;
$typeface1: "Courier New", Courier, monospace;
$typeface2: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$typeface3: Georgia, "Times New Roman", Timeserif;
$color1: white;
$color2: pink;
$color3: red;
$background1: colar;
$background2: lightskyblue;
h1 {
  font-family: $typeface1;
}
