* {
  margin: 0;
  padding: 0;
}
:root {
  --size1: 12px;
  --size2: 16px;
  --size3: 22px;
  --fm1: "Courier New", Courier, monospace;
  --fm2: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --fm3: Georgia, "Times New Roman", Timeserif;
  --cl1: white;
  --cl2: pink;
  --cl3: red;
  --cl4: steelblue;
  --cl5: blue;
  --cl6: black;
}

.menu_first {
  position: relative;
  width: 100%;
  height: 120px;
}
.menu_first ._3column {
  display: flex;
  position: absolute;
  width: 100%;
  height: 120px;
}
.menu_first::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 120px;
  top: 0px;
  opacity: 0.5;
  background-image: -webkit-linear-gradient(
    -45deg,
    #dc0236c2 0%,
    #6d181854 50%,
    yellow 100%
  );
}

.menu_first ._3column .column1 img {
  width: 33.33%;
  height: 100%;
}

.menu_first ._3column .column2 {
  width: 33.33%;
  height: 100%;
  margin-right: 200px;
  margin-top: 10px;
}
.menu_first ._3column .column3 {
  width: 33.33%;
  position: relative;
  height: 100%;
  font-size: var(--size1);
  margin: 30px;
}
.column3_left {
  top: 100px;
  width: 33.33%;

  position: absolute;
  opacity: 0.6;
  top: 50px;
  left: 1050px;
}
.column3_left form input {
  width: 300px;
  height: 30px;
  border-radius: 3px;
  font-size: var(--size1);
}
.column3_left form button {
  width: 40px;
  height: 33px;
  orphans: 0.8;
  color: var(--cl1);
  background: var(--cl5);
  border-radius: 3px;
}
/* hết menu first */
.menu {
  width: 100%;
  height: 34px;
  background-image: -webkit-repeating-linear-gradient(
    60deg,
    rgb(254 0 0 / 58%) 0%,
    #c7d226bf 50%,
    #a94758c2 100%
  );
  position: relative;
  display: flex;
}

.menu .icon2 {
  width: 20%;
  height: 100%;
}
.menu .icon2 a h3 {
  display: block;
  margin-left: 9px;
  margin-top: -3px;
  width: 120px;
  border: 1px solid gray;
}
.menu .icon2 > a {
  position: absolute;
  text-decoration: none;
  color: var(--cl1);
  width: 40px;
  height: 40px;
  left: 50px;
  top: 0px;
  padding-left: 10px;
  padding-top: 10px;
}
.menu .left {
  position: absolute;
  width: 180px;
  line-height: 35px;
  background-color: rgb(243, 241, 239);
  top: 55px;
  transition: 0.3s;
  opacity: 0;
}
.menu .left > ul {
  list-style: none;
}
.menu .left > ul > li {
  border-bottom: 1px solid rgb(182, 176, 176);
  box-sizing: border-box;
}
.menu .left > ul > li:hover {
  background-color: rgb(204, 196, 196);
}
.menu .left > ul > li > a {
  text-align: center;
  display: block;
  width: 180px;
  height: 35px;
  text-decoration: none;
}
.menu .turn_right {
  top: 34px;
  opacity: 1;
}
.menu .right {
  margin-left: 250px;
  width: 100%;
  height: 34px;
  position: relative;
  line-height: 35px;
  font-family: var(--fm2);
}
.menu .right > ul {
  list-style: none;
  display: flex;
}
.item_1 {
  position: relative;
  display: inline-block;
  height: 34px;
  width: 100%;
  line-height: 30px;
}
.item_1 a.layer_1 {
  text-decoration: none;
  padding: 5px;
  text-transform: uppercase;
}
.item_1:hover a.layer_1 {
  color: white;
  background: rgb(121, 155, 175);
  padding: 6px 5px;
}

.item_1 .layer_2 {
  position: absolute;
  top: 90px;
  left: 0px;
  visibility: hidden;
  opacity: 0;
  transition: 0.6s;
  width: 200px;
  border: 1px solid white;
}
.item_1:hover .layer_2 {
  background-color: rgb(243, 241, 239);
  visibility: visible;
  opacity: 1;
  top: 32px;
}
.item_1 .layer_2 ul {
  list-style: none;
}

.item_1 .layer_2 ul li a {
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  width: 200px;
  padding: 5px 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-bottom: 1px solid rgb(182, 176, 176);
}
.item_1 .layer_2 ul li a:hover {
  background: rgb(204, 196, 196);
}
.menu .right .icon3 {
  display: inline-block;
  position: absolute;
  left: 900px;
  top: 0px;
}
.menu .right .icon3 > a {
  color: rgb(27, 102, 187);
  text-decoration: none;
  display: inline-block;
  font-size: var(--size2);
  padding-left: 0px;
  padding-right: 10px;
}
/* đến phần dear */
.product {
  display: flex;
}
.product .left {
  width: 500px;
  height: 700px;
}
.product .left img {
  width: 100%;
  height: 100%;
}
.product .right {
  width: 1100px;
  height: 700px;
  border: 1px solid black;
}
.product .right .ft {
  margin-left: 300px;
}
.product .right .sc {
  margin-left: 400px;
  margin-top: 20px;
}
.product .right .word {
  margin-top: 15px;
  margin-left: 460px;
}
